.Main-Photo{
  background-position: center center;
  width: 100%;
  height: 80%;
  margin-top: 0;
  background-image: url(../../assets/img/img1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center end;
  padding: 20px 20px 100px 300px;
  margin-top: -69px;

}
@media screen and (max-width:850px) {
    .Main-Photo{
       margin-top: -190px;    
    }
}
.contenu-blur{
  padding-top: 20px;
}
@media screen and (max-width:850px) {
  .contenu-blur{
    padding-top: 150px;
  }
}
h5{
  font-family: large;
  font-size: 30px;
  padding-left: 235px;
}
p ,h2, h5{
  color: #fff;
  position: relative;
  z-index: 2;
  padding-top: 200px;
}
h2{
  padding: 0px 24%;
  font-family: cursive;
}

p{
    padding: 0px 25%;
    font-size: 17px;
    margin-left: -10px;
}
.p2{
  padding: 0px 150px;
}
@media screen and (max-width:850px) {
  h5{
    margin-left: -375px;
  }
  h2{
    padding: 0px 3%;
    margin-left: -130px;
  }
  p{
    margin-left: -147px;
    padding: 0px;
  }
  .p2{
    margin-left: -230px;
    padding: 0px;
  }
}
.line{
  position: relative;
  z-index: 2;
  width: 200px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.804);
  margin: 20px auto;
  margin-right: 490px;
}
@media screen and (max-width:850px) {
  .line{
    margin-left: -122px;
  }
}
.blur-bg {
  width: 700px;
  height: 350px;
  margin-top: -275px;
  margin-bottom: 67px;
  border-radius: 40px;
  background: url(../../assets/img/img1.jpg) no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px) brightness(80%);
  text-align: center;
  z-index: 1;
}
@media screen and (max-width:850px) {
  .blur-bg{
      margin-left: -280px;
      width: 500px;
      margin-top: -260px;
  }
}
.search{
    margin-top: -85px;
    background-color: #3baef669;
    padding: 10px;
    padding-top: 30px;
    border-radius: 20px;
}
h4{
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
}




.inputR{
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 16em;
  width: 36em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}
.inputS{
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 33em;
  padding-left: 30px;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  
}



@media screen and (max-width:850px) {
  h4{
   text-align: center;
  }
  .inputR{
   text-align: center;
   width: 31em;
  }
  .inputS{
    text-align: center;
    width: 31em;
  }
}

.inputR:hover, .inputR:focus{
  box-shadow: 0 0 1em #00000013;
}
.inputR:focus{
  outline: none;
  background-color: #f0eeee;
}
.inputR::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  .buttonR {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
    width: 1095px;
    height: 45px;
    transition: .3s;
    margin-top: 2em;
    text-decoration: none;
  }
  @media screen and (max-width:850px) {
    .buttonR{
      width: 31em;
      margin-top: 35px;
    }
  }
  .buttonR:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }




.Main-galerie{
   margin-top: 50px;
   padding: 30px;
   padding-top: 60px;
   margin: 100px;
   border-color: #3b82f6;
   box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
   border-radius: 50px;
}
.cities{
  color: black;
  margin-left: -200px;
  margin-bottom: 20px;
} 
@media screen and (max-width:850px) {
  .cities{
    margin-left: -30px;
  }
  .Main-galerie{
    margin-left: 12px;    
    width: 525px;
  }
}
em{
  color: #3b82f6;
}
.caroustext{
    position: absolute;
    left: -180px;
    bottom: 30px;
    font-size: 100px;
    color: #fff;
}
#carous{
  width: 100%;
  height: 600px;
  border-radius: 20px;
}
@media screen and (max-width:850px) {
  .galerie{
    width: 500px;
    margin-left: -30px;
  }
  .caroustext{
    font-size: 50px;
    padding-left: 350px;
}
}


.offrs{
   color: black;
   margin-bottom: 70px;
   margin-left: -30px;
}
@media screen and (max-width:850px){
  .offrs{
    margin-left: 130px;
  }
}
/* .info{
  width: 290px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  transform: translateY(-220px);
  margin-left: 100px;
  border-radius: 20px;
  margin-left: 60px;
  padding-left: 25px; 
  padding-top: 30px;
  box-shadow: -20px -20px 70px rgba(0,0,0,0.30);

} */



.Cimg{
   margin-left: 10px;
}
@media screen and (max-width:750px) {
  
 /* .info{
    margin-left: 200px;
    margin-top: -190px;
    width: 300px;
    height: 370px;
 } */
 .info .button {
    margin-left: 17px;
    margin-top: 154px;
 }
}




.Cimg img{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 210px;
  height: 270px;
}
@media screen and (max-width:750px) {
  
  .Cimg img{
   width: 370px;
   height: 490px;
 }
 }
 .button{
  background-color: #22b3c1;
  width: 220px;
  position: fixed;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  margin-top: 150px;
  margin-left: 9px;
}

#res{
  color: #fff;
  text-decoration: none;
  

}
.button:hover{
  opacity: 0.8;
}
.info .infotext{
  margin-left: -30px;
}
.text{
  width: 150px;
  height: 0px;
  margin-left: 60px;
  font-family: monospace;
  font-size: 15px;
}
#imgvol{
  width: 170px;
  height: 60px;
  margin-bottom: -200px;
  margin-left: 35px;
}
@media screen and (max-width:850px) {
  #imgvol{
    margin-bottom: -200px;
  }
  .button{
    margin-top: 150px;
  }
}




/* ==========Notification============== */
.notification {
	position: fixed;
	z-index: 1;
	bottom: 50px;
	left: 50px;
	height: 60px;
	width: 390px;
	padding-top: 13px;
	padding-left: -60px;
	border-radius: 10px;
	background-color: #1f84c2bd;
	color: #f6f5f9;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	animation: fade-in 4s linear forwards;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.notification__progress {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background-image: linear-gradient(to right, #539bdb, #3250bf);
	border-radius: inherit;
	animation: load 3s 0.25s linear forwards;
}
@keyframes fade-in {
	5% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes load {
	to {
		transform: scaleX(1);
	}
}


@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");


body {
  font-family: "Roboto", sans-serif;
}

.flight-card {
  width: 505px;
  height: 660px;
  margin-left: 70px;
  margin-top: 30px;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  box-shadow: -20px -20px 70px rgba(0,0,0,0.30);

}
.flight-card .flight-card-header {
  height: 250px;
  width: 100%;
  background: linear-gradient(to bottom, #264b76 0%, #5fb1fa 100%);
  padding: 30px 50px;
  border-bottom: 7px solid #002c5f;
  position: relative;
}
.flight-card .flight-card-header .flight-logo {
  height: 110px;
  width: 100%;
}
.flight-card .flight-card-header .flight-logo img {
  width: 150px;
}
.flight-card .flight-card-header .flight-data {
  height: auto;
  border-top: 2px solid #5fb1fa;
  padding-top: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: left;
}
.flight-card .flight-card-header .flight-data span {
  display: block;
}
.flight-card .flight-card-header .flight-data .title {
  color: black;
  font-size: 16px;
}
.flight-card .flight-card-header .flight-data .detail {
  font-size: 18px;
  padding-top: 3px;
  color: white;
}
.flight-card .flight-card-content {
  width: 100%;
  height: auto;
  display: inline-block;
}
.flight-card .flight-card-content .flight-row {
  width: 100%;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.flight-card .flight-card-content .flight-row .plane {
  text-align: center;
  position: relative;
}
.flight-card .flight-card-content .flight-row .plane img {
  width: 90px;
}





.flight-card .flight-card-content .flight-row .plane:before {
  content: "";
  width: 35px;
  height: 3px;
  background: #efefef;
  position: absolute;
  top: 45px;
  left: -15px;
}
.flight-card .flight-card-content .flight-row .plane:after {
  content: "";
  width: 35px;
  height: 3px;
  background-color: #efefef;
  position: absolute;
  top: 45px;
  right: -15px;
}






.flight-card .flight-card-content .flight-from {
  text-align: left;
  float: left;
}
.flight-card .flight-card-content .flight-to {
  text-align: right;
  float: right;
}
.flight-card .flight-card-content .flight-from span,
.flight-card .flight-card-content .flight-to span {
  display: block;
}
.flight-card .flight-card-content .flight-from .from-code,
.flight-card .flight-card-content .flight-from .to-code,
.flight-card .flight-card-content .flight-to .from-code,
.flight-card .flight-card-content .flight-to .to-code {
  font-size: 60px;
  color: #002c5f;
  font-weight: 200;
}
.flight-card .flight-card-content .flight-from .from-city,
.flight-card .flight-card-content .flight-from .to-city,
.flight-card .flight-card-content .flight-to .from-city,
.flight-card .flight-card-content .flight-to .to-city {
  font-size: 18px;
  color: #002c5f;
  font-weight: 400;
}
.flight-card .flight-card-content .flight-details-row {
  width: 100%;
  display: grid;
  padding: 30px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.flight-card .flight-card-content .flight-details-row span {
  display: block;
}
.flight-card .flight-card-content .flight-details-row .title {
  color: #6a8597;
  font-size: 16px;
  letter-spacing: 3px;
}
.flight-card .flight-card-content .flight-details-row .detail {
  margin-top: 0.2em;
  color: #002c5f;
  font-size: 18px;
}
.flight-card .flight-card-content .flight-details-row .flight-operator {
  text-align: left;
  float: left;
}
.flight-card .flight-card-content .flight-details-row .flight-class {
  float: right;
  text-align: right;
}
.flight-card .flight-card-content .flight-details-row .flight-number {
  padding-left: 220px;
}
.reservFlight{
  border: none;
  background-color: #0f62c2;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 158px;
  height: 45px;
}
.reservFlight:hover{
  opacity: 0.8;
}
.reservFlight-class{
  margin-left: 315px;
  margin-top: -10px;
  width: max-content;
}

.Price{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 130px;
  font-size: 76px;
}
.Price1{
  margin-left: -300px;
  color: white;
  font-size: 26px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: line-through red;
}

.flip-card {
  font-family: sans-serif;
  width: 290px;
  height: 340px;
  transform: translateY(-220px);
  margin-left: 100px;
  border-radius: 20px;
  margin-left: 60px;
  padding-left: 25px; 
  padding-top: 30px;

}
@media screen and (max-width:750px) {
  .flip-card{
    margin-left: 200px;
    margin-top: -190px;
    width: 300px;
    height: 370px;
  }
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, #bbad2b 60%, #bbad2b 88%,
     rgb(255, 211, 195) 40%, #3d4329 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, #bbad2b 30%, #bbad2b 88%,
     bisque 40%, #3d4329 78%);
  color: white;
  transform: rotateY(180deg);
}