.second-page-heading{   
    background-image: url(../../assets/img/plane.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 130px 0px 200px 0px;
    width: 100%;
    height: 100%;
    }
    
    .Reservation .second-page-heading h2{
      padding-left: 350px;
    }
    
    .second-page-heading h4 {
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 15px;
      position: relative;
      padding-bottom: 25px;
    }
    
    .second-page-heading h4::after {
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: rgba(250, 250, 250, 0.3);
      content: '';
      left: 50%;
      bottom: 0;
      transform: translateX(-50px);
    }
    @media screen and (max-width:850px) {
    .second-page-heading h2 {
       margin-left: -200px;
       margin-top: 50px;
     }
   }
    .second-page-heading h2 {
      font-size: 50px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 30px;

    }
    
    
    .second-page-heading p {
      padding: 0px 15%;
      color: #fff;
      margin-bottom: 30px;
    }
    
    .second-page-heading .main-button a {
      border-color: #fff;
      color: #22b3c1;
      background-color: #fff;
      padding: 13px;
      padding-bottom: 15px;
      border-radius: 20px;
    }
    
    .second-page-heading .main-button a:hover {
      border-color: #22b3c1;
      background-color: #22b3c1;
      color: #fff;
    }
    .reservation-info {
      margin-top: -99px;
    }
    
    .more-info .info-item {
      background-color: #fff;
      border-radius: 23px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
      text-align: center;
      padding: 30px;
      margin-top: 50px;
    }
    
    .more-info .info-item i {
      background-color: #f0f0f0;
      width: 60px;
      height: 60px;
      display: inline-block;
      text-align: center;
      line-height: 60px;
      border-radius: 50px;
      color: #22b3c1;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .infoCall-item h4{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .infoCall-item a{
      font-size: 15px;
      color: #22b3c1;
    }
    .more-info .info-item h4 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    
    .more-info .info-item a {
      font-size: 15px;
      color: #22b3c1;
    }
    .form{
      margin-top: 100px;
    }
    .faire{
      margin-bottom: 80px;
    }
  
  
  .form {
    margin: 120px 0px;
  }
  
  
  
  
  h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
 
  h4 em {
    font-style: normal;
    color: #22b3c1;
  }
  
  .form  {
    padding: 60px 120px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
  }
  
  .form  label {
    font-size: 15px;
    color: #afafaf;
  }
  
  .form  input,
  .form  select {
    width: 100%;
    height: 46px;
    background-color: transparent;
    border-radius: 23px;
    border: 1px solid #e0e0e0;
    padding: 0px 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .form  input.date {
    color: #aaa;
  }
  
  
  
  .form  .button-submit {
    font-size: 14px;
    color: #fff;
    padding: 12px 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
  }

  .button-submit{
    background-color: #22b3c1;
    color: #fff;
  }
  
  .form .button-submit:hover {
    opacity: 0.8;
  }
  
  .button-submit input{
    background-color: #22b3c1;
    color: #fff;
  }
  
  .aler{
    display: none;
  }
  #icon{
    margin-bottom: 5px;
    color: rgb(34, 179, 193);
    background-color: rgb(240, 240, 240);
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
