.logo{
    text-align: left;
    width: 88px;
}
.navbar{
    margin-top: -5px;   
    box-sizing: border-box;
    background: rgba(245, 5, 5, 0);
    padding-left: 0;
    text-align: center;  
}
.nav-item.active a,
.nav-item a:hover{
	color: #ffffff;

}
.nav-item a:after {
    content: '';
    display: inline-block;
    height: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 100%;
    bottom: -1px;
    left: 0;
    border-radius: 50%;
    transition: .21s all ease;
  }
.nav-item a:hover:after,
.nav-item.active a:after{
	background-color: rgb(17, 97, 237);
	height: 2px;
	right: 0;
  left: 0;
	bottom: 2px;
	border-radius: 0;
	transition: .21s all ease;
  text-align: center;

}
@media screen and (max-width:850px) {
  .nav-item a:hover:after,
  .nav-item.active a:after{
    width: 552px;
}
}
 .nav-link {
    color: black;
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
    /*&:active {
       transform:scale(0.9);
    }*/
  }